body {
    background: #b6bec9;
    margin: 0;
    height: 100vh;
}

body.isScrollNotAllowed {
    overflow: hidden;
}

header {
    background: #4d53c3;
}

header > h1 {
    text-align: center;
    color: white;
    margin: 0;
}

.main {
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    width: 100%;
    height: 33%;
    background: #7fd08d;
    padding: 10px;
}

section > h2 {
    color: white;
}

section > button {
    background: #4d53c3;
    color: white;
}

footer {
    background: #4d53c3;
    padding: 5px 0 5px 0;
}

footer > ul{
    list-style: none;
    display: flex;
    gap: 100px;
}

a {
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 32px;
    color: #fff;
    background-color: #6ba6e7;
    overflow-wrap: normal;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .modalIsOpen {
    visibility: visible;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .overlayIsOpen {
    visibility: visible;
    opacity: 1;
  }